body {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 75vh;
    height: 75vh;
    min-width: 75vh;

    border: 4px solid black;
}

.pixel {
    box-sizing: border-box;
    border: 1px solid black;
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.slide-container {
    font-family: sans-serif;
    display: flex;
    gap: 16px;
}

.btn {
    width: 100%;
    height: 48px;
}

.red {
    background-color: #FF6663;
}

.orange {
    background-color: #FEB144;
}

.yellow {
    background-color: #FDFD97;
}

.green {
    background-color: #9EE09E;
}

.blue {
    background-color: #9EC1CF;
}

.purple {
    background-color: #CC99C9;
}

.black {
    background-color: black;
}
